/* very cool style */

.usual-background {
    background-color: #333355
}
.grey-background {
    background-color: #fff
}

#footer {
    position: fixed;
    height: 50px;
    background-color:#383859;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    /*padding-bottom: 30px;*/
    /*padding-left: 30px;*/
}

#left-footer {
    position: absolute;
    left: 10px;
    font-size: 30px;
    font-family:Geo;
    padding-right: 10px;
}

#right-footer {
    position: absolute;
    right: 10px;
    font-size: 30px;
    font-family:Geo;
    padding-left: 10px;
}

.button {
	background:#00a2ff;
    background-color:#00a2ff;
	display:inline-block;
	cursor:pointer;
	color:#333355;
	font-family:Geo;
	font-size:18px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	border:0;
	box-shadow: none;
}
.button:hover {
	background:#f6ff07;
	background-color:#f6ff07;
}
.button:active {
	position:relative;
	top:1px;
	background:#f6ff07;
    background-color:#f6ff07;
    color:#f6ff07;
    outline: none;
	box-shadow: none;
}

.background {
    background-color:#333355;
}

.titleText {
    font-family:'Geo';
    color:#00a2ff;
    font-size:42px;
}

.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:#333355;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}

.dialogWrapper {
    width: 100%;
    left: 0px;
    position: absolute;
    z-index: 5;
    display: block;
    margin: auto;
}
.dialog {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #333355;
    border: 0px solid #ccc;
}
